<!DOCTYPE html>
<html>
<head>
	<title>GossipProject - Home</title>
	<script src="https://kit.fontawesome.com/01d50de81e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="margin-left: 10%; margin-right: 10%;">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<h1 style="color: white;"><i class="fas fa-mask"></i> The Gossip Project</h1>
	
 	</nav>
 	<br><br>
	<center>
	<h3>Bienvenue <%=params[:first_name].capitalize%>! Voici le site de the gossip project, il est chouette, non ?</h3>
	</center>
</body>
</html>
